.profile {
    width: 100%;
    min-height: 120px;
    display: flex;
    gap: 30px;
    margin: 39px auto 51px auto;
}

@media screen and (max-width: 880px) {
    .profile {
        height: auto;
        flex-direction: column;
        align-items: center;
        margin: 42px auto 36px auto;
        gap: 0;
    }
}