.authorization__redirect {
    color: #FFF;
    line-height: 16.94px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin-top: -9px;
}

@media screen and (max-width: 880px) {
    .authorization__redirect {
        margin-top: -9px;
    }
}